.form__control {
  display: flex;
  flex-direction: column;



  input {
    background-color: transparent;
    border: none;
    line-height: var(--lineHeightBody);
    text-transform: uppercase;
    font-weight: var(--fontWeight500);
    color: var(--neutralColorFour);
    padding-inline-start: 1.5rem;
    padding-block-end: 1rem;
    outline: none;
    width: 100%;

    border-bottom: 1px solid var(--neutralColorFour);

    &:focus {
      border-bottom: 1px solid var(--primaryColorOne)
    }



  }
}

.form__control--input {
  display: flex;
  align-items: center;
  position: relative;


}


.invalid__icon {
  border: 1px solid var(--accentColorOne);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;

  svg {
    fill: var(--accentColorOne);
    width: 0.8rem;
    height: 0.8rem;
  }
}

.invalid__text {
  display: block;
  color: var(--accentColorOne);
  align-self: flex-end;
  font-size: 0.75rem;
}

.input__email {
  margin-block: 1.5rem;
}