.hero {
  display: flex;
  flex-direction: column-reverse;
  color: var(--neutralColorFour);
  position: relative;
}

.hero__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-block-start: 2.5rem;
}


.hero__img {
  width: 13rem;
  margin-inline: auto;
  transform: translateY(-130px);
  margin-block-end: -8rem;
  position: relative;
}

.hero__content--heading {
  line-height: 2.5rem;
  font-size: 2.5rem;
  letter-spacing: var(--letterSpacingL);


  .hero__name {
    position: relative;


    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.25rem;
      background: var(--Green, #4EE1A0);
      background-color: var(--primaryColorOne);
      display: block;
    }
  }
}


.hero__content--text {
  margin-block: 1.5rem;
  font-weight: var(--fontWeight500);
  line-height: var(--lineHeightBody);
  color: var(--neutralColorThree);
}

.hero__ring {
  position: absolute;
  top: 30px;
  right: 200px;
}

.hero__circle {
  position: absolute;
  right: -80px;
  top: 200px;
}

.btn--contact__me {
  text-transform: uppercase;
  font-weight: var(--fontWeight700);
  letter-spacing: 0.14288rem;
  line-height: var(--lineHeightBody);
  text-decoration: none;
  padding-block-end: .62rem;
  border-bottom: 3px solid var(--primaryColorOne);
  color: var(--neutralColorFour);

}