.contact {
  padding-block-end: 5.44rem;
  border-bottom: 1px solid var(--neutralColorFour);
  position: relative;
}

.contact__ring {
  position: absolute;
  right: 50%;
  bottom: 18%;
}

.contact__content {
  text-align: center;
}

.contact__heading {
  font-size: 2.5rem;
  letter-spacing: var(--letterSpacingL);
  line-height: var(--lineHeightM);
  margin-block-end: 1.25rem;
}

.contact__text {
  color: var(--neutralColorThree);
  font-weight: var(--fontWeight500);
  line-height: 1.625rem;
  margin-block-end: 3.12rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.btn__primary {
  text-transform: uppercase;
  font-weight: var(--fontWeight700);
  letter-spacing: 0.14288rem;
  line-height: var(--lineHeightBody);
  text-decoration: none;
  padding-block-end: .62rem;
  border: none;
  border-bottom: 3px solid var(--primaryColorOne);
  color: var(--neutralColorFour);
  background-color: transparent;

  &.btn__primary--footer {
    align-self: flex-end;
  }
}