.header {
  color: var(--neutralColorFour);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding-block-start: 1.25rem;


  h1 {
    font-size: var(--fontSizeM);
  }
}