@media only screen and (min-width: 48rem) {
  .header {
    margin-block-end: 4.30rem;
  }
}

@media only screen and (min-width: 64rem) {
  .header {
    max-width: 70rem;
    margin-inline: auto;
  }
}