.footer {
  background-color: var(--neutralColorTwo);
  color: var(--neutralColorFour);

}

.footer__container {
  padding-block-start: 3.75rem;
  padding-inline: 1rem;
  background: url('../../assets/images/pattern-rings.svg') no-repeat bottom 40% right -80%;
}