.footer {
  background-color: var(--neutralColorTwo);
  color: var(--neutralColorFour);

}

.footer__container {
  padding-block-start: 3.75rem;
  padding-inline: 1rem;
  background: url('../../assets/images/pattern-rings.svg') no-repeat bottom 300px right 200px;
}

@media only screen and (min-width: 48rem) {
  .footer__container {
    background-position: -360px 540px;

  }
}