.social-media__bar {
  color: var(--neutralColorFour);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  &.header {
    padding-block-start: 1.25rem;
  }

  &.footer {
    padding-block: 2.44rem;
    padding-block-end: 3.75rem;
  }

  h1 {
    font-size: var(--fontSizeM);
  }
}


.social-media-link__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

@media only screen and (min-width: 48rem) {
  .social-media__bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1.9rem;

    h1 {
      font-size: 2rem;
    }

    &.footer {
      border-top: 1px solid var(--neutralColorFour);

    }
  }
}